*{
    margin: 0;
    padding: 0;
}

#header{
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

#section-1{
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
     
}
#section-2{
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
     
}

img{
    width: 200px;
    height: 200px;
}